<configuration>

  <appender name="CONSOLE" class="ch.qos.logback.core.ConsoleAppender">
    <encoder>
      <pattern>%d{yy-MM-dd HH:mm:ss.SSS} [%thread] %-5level %logger{36} - %msg%n</pattern>
    </encoder>
  </appender>

  <appender name="FILE" class="ch.qos.logback.core.rolling.RollingFileAppender">
  <rolligPolicy class="ch.qos.logback.core.rolling.SizeAndTimeBasedRollingPolicy">
  <!-- it will create the log file with EnngJournalApp after every minutes when we run the application -->
  <fileNamePattern>EnggJounalApp-%d{yy-MM-dd_HH-mm}.%i.log</fileNamePattern>
  <maxFileSize>10MB</maxFileSize>
  <maxHistory>100</maxHistory>
  
  </rolligPolicy>
  
    <file>EnggJounalApp.log</file>
    <append>true</append>
    <encoder>
      <pattern>%d{yy-MM-dd HH:mm:ss.SSS} [%thread] %-5level %logger{36} - %msg%n</pattern>
    </encoder>
  </appender>

  <root level="INFO">
    <appender-ref ref="CONSOLE"/>
    <appender-ref ref="FILE"/>
  </root>

</configuration>
